<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= menuItems %> Menu
    </title>
</head>

<body>
    <h1>
        <%= menuItems %> Menu
    </h1>

    <% if (menuItems.length> 0) { %>
        <% menuItems.forEach(item=> { %>
            <div>
                <h2>
                    <%= item.name %>
                </h2>
                <p>Price: $<%= item.price %>
                </p>
                <p>Rating: <%= item.rating %>/5</p>
                <p>
                    <%= item.details %>
                </p>
            </div>
            <hr />
            <% }) %>
                <% } else { %>
                    <p>No items found in this category.</p>
                    <% } %>
</body>

</html>